@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

h1 {
    margin-top: 8vh;
}

p {
    color: white;
}

.about-me-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 7vh;
    padding-left: 35vw;
    padding-right: 35vw;
}

.about-me-paragraph {
    font-size: 1.35em;
    font-family: 'Didact Gothic', sans-serif;
}