@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #181818;
    padding: 6vh 2vw 6vh 2vw; 
    /* box-shadow: 0 0 10px 0 rgb(255, 255, 255); */
    transition: box-shadow 0.15s ease-in-out;
    border-radius: 12px;
}

.project-card:hover {
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}

.project-card-title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.6em;
}

.project-card-image {

}

.project-card-desc {
    margin-top: 2vh;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.1em;
}